<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="icon" href="/img/Weatherapplogo.png">
        <link rel="stylesheet" href="./css/stylesheet.css">   <!-- linking css file to html -->
        <script src="/js/app.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{erromessage}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>